
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head-info{
    display: flex;
    gap: 10px;
    align-items: center;
}
h1{
    padding: 0px;
    margin: 5px 0px;
}
.kingman-logo{
    max-width: 100px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 1.5rem;

}
a{
    color: white;
    text-decoration: none;
}
header a:hover{
    color: black;
}
main {
    display: block;
    padding: 0px;
}
.hero img{
    width: 100%; 
    background-size: cover ;
    background-position: center;
    padding-bottom: 0%;
    max-height: 300px;
    object-fit: cover;
}
footer{
    background-color: black;
    margin: 0px 0px;
    display: flex;
    justify-content: space-evenly;
}