body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 1% 0;
}
h2{
    color: white;
}
.join-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form {
    flex: 1 1 50%;
    margin: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box; 
    border: 1px solid #686868;
    border-radius: 4px;
}

.membership-cards {
    margin-top: 26px ;
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
}

.card {
    border: 3px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #2a405e;
    animation: colorChange 10s infinite ease-in-out; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 4px;
}

.card:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #2a2a2a;
    width: 80%;
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    cursor: pointer;
}
.join-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
@keyframes colorChange {
    0% {
        border-color: #828282;
    }
    25% {
        border-color: #93dad5; 
    }
    50% {
        border-color: #b0dfef; 
    }
    75% {
        border-color: #98fb98; 
    }
    100% {
        border-color: #828282; 
    }
}
@media (max-width: 768px) {
    .join-section{
        display: flex;
        flex-direction: column;
    }
    .membership-cards {
        margin-top: 0px ;
    }
}